/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */
html {
  background: url(../WebBG1a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 1.75%; /*1.75%*/
  padding-bottom: 1.75%; /*1.75%*/
  padding-left: 20%;
  padding-right: 20%;
  background: transparent;
}

#mar20 { /*1.5%*/
  margin-top: 1.5%;
}

#mar25 { /*1.75%*/
  margin-top: 1.75%;
}

#mar40 { /*2.75%*/
  margin-top: 2.75%;
}

#mar102 { /*8.6%*/
  margin-top: 8.6%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
.resize {
width: 75%;
height: auto;
}
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
.resize {
width: 75%;
height: auto;
}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
.resize {
width: 75%;
height: auto;
}
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}