/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */
html {
  background: url(../WebBG1a.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding-top: 25px; /*1.75%*/
  padding-bottom: 25px; /*1.75%*/
  padding-left: 10%;
  padding-right: 10%;
  background: transparent;
}

.rbvideo {
  margin-top: 40px;
  max-width: 750px;
}

.mar20 { /*1.5%*/
  margin-top: 20px;
}

.mar25 { /*1.75%*/
  margin-top: 25px;
}

.mar40 { /*2.75%*/
  margin-top: 40px;
}

.mar102 { /*8.6%*/
  margin-top: 102px;
}

.scaleMail {
  max-width: 45%;
}

.scaleContact {
  max-width: 28%;
}

.scaleBottom {
  max-width: 27%;
}

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {

.mar20 { /*1.5%*/
  margin-top: 5px;
}

.mar25 { /*1.75%*/
  margin-top: 10px;
}

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

.mar20 { /*1.5%*/
  margin-top: 15px;
}

.mar25 { /*1.75%*/
  margin-top: 20px;
}

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

.mar20 { /*1.5%*/
  margin-top: 20px;
}

.mar25 { /*1.75%*/
  margin-top: 25px;
}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

.mar20 { /*1.5%*/
  margin-top: 20px;
}

.mar25 { /*1.75%*/
  margin-top: 25px;
}

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

.mar20 { /*1.5%*/
  margin-top: 20px;
}

.mar25 { /*1.75%*/
  margin-top: 25px;
}

}